<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ecommerce Site</title>

    <link rel="stylesheet" href="/css/main.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.1.1/css/mdb.min.css" rel="stylesheet">
    

</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" id="navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand" href="/">Ecommerce Site</a>
            </div>

            <form action="/search" method="POST" class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" name="q" class="form-control" placeholder="Search for items">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>

            <ul class="nav navbar-nav navbar-right">

                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Categories</a>
                    <ul class="dropdown-menu">
                        <% for (let i=0; i < categories.length; i++) { %>
                            <li><a href="/products/<%= categories[i]._id %>"><%= categories[i].name %></a></li>
                        <% } %>
                    </ul>
                </li>

                <% if(!user) { %>
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">User</a>
                        <ul class="dropdown-menu">
                            <li><a href="/signup">Signup</a></li>
                            <li><a href="/login">Login</a></li>
                        </ul>
                    </li>
                <% } else { %> 
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= user.profile.name %></a>
                        <ul class="dropdown-menu">
                            <li><a href="/profile">Profile</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </li>
                <% } %>

                <% if(user) { %>
                    <li><a href="/cart"><i class="fa fa-shopping-cart"></i><span class="badge"><%= cart %></span></a></li>
                <% } else { %>
                    <li><a href="/cart"><i class="fa fa-shopping-cart"></i></a></li>
                <% } %>

            </ul>
        </div>
    </nav>