body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
}

#signup{
    margin-top: 40px;
}

#title {
    text-align: center;
}

#alert {
    margin-top: 20px;
}