body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
}

#navbar {
    position: relative;
    max-height: 30px;

}

#home {
    margin-top: -2%;
}

#title {
    text-align: center;
}

.product-image {
    width: 100%;
}

/* #myModal{
    position: absolute;
} */
